<h1>Hi there,</h1>

<h2>Thank you for your booking request!</h2>

We will now contact our partners, organise everything, and get back to you within two business days to confirm your plans. You just have to look forward to making new memories with your partner.<br><br>

We will be in touch soon,<br>

The Not Just A Date team
