<h1>Hi there,</h1>

<h2>Thank you for signing up to Not Just A Date!</h2>

The way you plan your date nights with your partner is about to change for the better. We are here to design original experiences at exclusive prices and do the “booking work” for you once you have picked your favourite.<br>

It is now time to <b><%= link_to 'invite your special someone', 'http://notjustadate.herokuapp.com/groups/new' %></b> to join and connect with you so you can see your wishlists and surprise each other. Also add your family and friends to let them discover our service and know what they can get you for your relationship anniversary or babymoon.<br>

Excitingly enough, you are among our very first users! We thank you in advance for your patience and feedback as we take our first steps with you.<br>

We are grateful for your trust and cannot wait to make some of your best memories because<br>

It’s not just a date, it’s a page of your love.<br><br>

Heloise<br>
Founder of Not Just A Date<br><br>

PS: If you like what we do, support us on social media. <a href="http://facebook.com/notjustadate"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/notjustadate"><i class="fa fa-twitter"></i></a>