<div class="row">
	<div class="col-md-6">
		<h2>Name Your Group</h2>
		<p>(People will use this name to find and join your group)</p>
		<%= render 'form' %>
		<%= link_to 'Back', :back, class:'basicbutton' %>
	</div>
</div>
