<div class="row center-align">
	<div class="col-xs-12">
		<h2>Thank you!</h2>
	</div>
	<div class="col-xs-12">
		Your purchase has been successful <%= link_to 'return to your profile', profile_path(current_user.profile), class: 'basicbutton' %>
	</div>
</div>