<div class="row">
	<div class="col-xs-12">
		<h2>Welcome to your admin panel.</h2>
	</div>
	<div class="col-sm-3">
		<%= link_to 'Add a new Package', new_product_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-3">
		<%= link_to 'Manage Profiles', profiles_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-3">
		<%= link_to 'Manage Reviews', reviews_path, class: 'basicbutton' %>
	</div>
	<div class="col-sm-3">
		<%= link_to 'View Analytics', 'http://google.com.au/analytics', class: 'basicbutton' %>
	</div>
</div>


