<div class="row">
	<div class="col-md-6">
		<h1>It's <b>Not Just a Date</b>,
		it's an <b>unforgettable experience</b></h1>
	</div>
</div>
<div class="row splash">
	<div class="col-md-6">
		Spark romance - Sign up
		Get the latest offers and updates - Subscribe to the newsletter
	</div>
	<div class="col-md-6">
		Not Just a Date is a date planner for couples to create special dates that are more than the average.<hr>
		You can easily book experiences designed for unforgettable moments with that special someone.<hr>
		The packages are inspiring, customisable, and easily booked online.<hr>
		Learn more (info on reviewing, wishlists, groups, purchase process, etc)
		Browse the packages
		See what others have to say(testimonials - reviews?)
		Sign up for the newsletter!
	</div>
</div>