<div class="row">
	<div class="col-md-6">
		<h1>It's <b>Not Just a Date</b>,
		it's an <b>unforgettable experience</b></h1>
	</div><br>
	<div class='col-md-12 ribbon'>
	</div>
</div>
<div class="row splash">
	<div class="row red">
		<div class="col-md-8">
			Not Just a Date is a date planner for couples to create special dates that are more than the average.
		</div>
		<div class="col-md-4">
			<i class="fa fa-heart fa-5x blue round"></i>
		</div>
	</div>
	<div class="row blue">
		<div class="col-md-4">
			<i class="fa fa-anchor fa-5x red round"></i>
		</div>
		<div class="col-md-8">
			You can easily book experiences designed for unforgettable moments with that special someone.
		</div>
	</div>
	<div class="row red">
		<div class="col-md-8" style="color: #FFFFFF;">
			The packages are inspiring, customisable, and easily booked online.
		</div>
		<div class="col-md-4">
			<i class="fa fa-credit-card fa-5x white round"></i>
		</div>
	</div>
</div>