<div class="row center-align">
  <div class="col-md-12">
    Find an experience<br>
    search field <i class="fa fa-search"></i>
  </div>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-4 col-xs-12" style="border: 1px solid black;">
      <div class="col-md-12 col-xs-6">
        images.first
      </div>
      <div class="col-md-12 col-xs-6">
        <div class="col-md-9 product_title">
          <%= product.name %>
        </div>
        <div class="col-md-3">
          location
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-xs-9">
          <%= product.description %>
        </div>
        <div class="col-xs-3">
          <%= product.price %>
        </div>
      </div>
    </div>
  <% end %>
</div>
