<% @reviews.each do |review| %>
  <div class="col-xs-12">
    "<%= review.content %>"
    <% review.rating.times do |star| %>
      <i class='fa fa-star'></i>
    <% end %>
  </div>
<% end %>
    <%= link_to 'Back', :back, class:'lesserbutton' %>
